.App {
  display: flex;
  text-align: center;
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.App-header {
  align-items: center;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: white;
  color: #4154B2;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 1px 5px #4154B2
}

.App-title {
  padding-top: 25px;
  flex: auto;
  font-size: 2em;
  font-family:monospace;
  /*border-bottom: 2px solid #4154B2;
  border-radius: 5px;*/
}

.Spacer {
  flex: 10;
}

.Login-button {
  font-size: 1.1em;
  font-family:monospace;
  color: #999;
  cursor: pointer;
  padding: 5px;
}

.Login-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.09);
}

.App-intro {
  font-size: large;
}

.Dim {
  opacity: .5;
}

.App-body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Content {
  flex: 1;
  margin: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 120px;
  align-self: center;
}

.Dropdown-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  flex: auto;
}

.Dropdown-root {
  margin: 20px;
  width: 200px;
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  background-color: white;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
  box-sizing: border-box;
  color: #999;
  cursor: default;
  outline: none;
  padding: 8px 32px 8px 10px;
  transition: all 200ms ease;
  font-family:monospace;
  font-size: .8em;
}

.Dropdown-control:hover {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
  font-family:monospace;
  font-size: .8em;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1.2);
}

.Dropdown-option {
  box-sizing: border-box;
  color: #999;
  cursor: pointer;
  display: block;
  padding: 1px 5px;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
